@{
    this.ViewBag.Title = "Home Page";

}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@this.ViewBag.Title.</h1>
                <h2>@this.ViewBag.Message</h2>
            </hgroup>
            <p>
                DevNetNoord Asynchronous Demo
            </p>
        </div>
    </section>
}
<h3>SignalR</h3>
<p>
    <button id="startButton">start</button>
    <button id="clearButton">Clear</button>
    <div class="demo">
        <div id="lineprocessingProgress"></div>
        <div id="lineprocssingProgressMessage"></div>
        <div id="nrOfMessages"></div>
        <textarea id="messages" cols=40 rows=15></textarea>
    </div>
</p>

@section scripts {
    <script src="@this.Url.Content("~/Scripts/jquery.signalR-0.5.3.min.js")" type="text/javascript"> </script>
    <script src="@this.Url.Content("~/signalr/hubs")" type="text/javascript"> </script>
    <link href="../../Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/themes/base/jquery.ui.progressbar.css" rel="stylesheet"
          type="text/css" />
    <script src="../../Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"> </script>
  
    <script type="text/javascript">
        $("#demo").hide();
        var currentPercentage = 0;
        var processingManager = $.connection.processingManager;

        processingManager.UpdateProgress = function ( percentage, message ) {
            $( "#demo" ).show();
            if ( percentage > currentPercentage ) {
                $( "#lineprocessingProgress" ).progressbar( { value: percentage } );
                $( "#lineprocssingProgressMessage" ).html( message );
                currentPercentage = percentage;
            }
        };

        processingManager.SendMessage = function ( message ) {
            var areaValue = $( '#messages' ).val();
            $( '#messages' ).val( areaValue + "\n" + message );
        };

        $( "#startButton" ).button().click( function () {
            processingManager.testRun();
        } );

        $( "#clearButton" ).button().click( function () {
            currentPercentage = 0;
            $( "#lineprocessingProgress" ).progressbar( { value: 0 } );
            $( "#lineprocssingProgressMessage" ).html( "" );
            $('#messages').val("");

        } );

        $.connection.hub.start();
    </script>
}